<div class="my-4">
    <a class="text-decoration-none h3 text-black" href="/posts/<%= post.postLinkTitle%>">
        <%= post.title %>
    </a>
    <p class="text-muted">posted by <%= post.author.username %> on
            <%= new Date(parseInt(post.date)).toLocaleDateString("en-IN") %>.</p>
</div>