<form class="input-group" action="<%= url %> ">
    <input type="text" name="title" id="title" class="form-control" placeholder="Enter title of the post" value = '<%= searchOptions %>'>
    <button type="submit" class="btn btn-primary">Search</button>
</form>