<h2>
    <%= locals.title %>
</h2>
<form action="<%= postEndpoint %>" method="post">
    <div class="form-group">
        <label class="form-label" for="title">Title</label>
        <input class="form-control" type="text" name="title" id="title" required autocomplete="off"
            <%=(locals.desc)?"disabled":"" %> autoFocus>
        <label class="form-label" for="description">Post</label>
        <textarea class="form-control mb-3" name="desc" id="desc" cols="10" rows="15"
            required><%= locals.desc %></textarea>
        <input class="btn btn-primary me-3" type="submit" value="Publish">
        <button class="btn btn-danger" onclick="history.go(-1);">cancel</button>
    </div>
</form>