<h1>Compose</h1>
<form action="/compose" method="post">
    <div class="form-group">
        <label class="form-label" for="title">Title</label>
        <input class="form-control" type="text" name="title" id="title" required autocomplete="off">
        <label class="form-label" for="description">Post</label>
        <textarea class="form-control" name="desc" id="desc" cols="10" rows="5" required></textarea>
        <label class="form-label" for="author">Author</label>
        <input class="form-control mb-3" type="text" name="author" id="author" required autocomplete="off">
        <input class="btn btn-primary" type="submit" value="Publish">
    </div>
</form>