<div style="text-align:center; padding-top: 10%;">
    <img style="max-width: 100%;" src="<%= locals.imgUrl %>" alt="error image">
    <p><span style="font-size: 3.5rem;">ERROR:<%= locals.code %></span><br>
        <%= locals.msg %>
    </p>
</div>