<form action="/login" method="post">
    <h2 class="mb-3">Login</h2>
    <div class="form-floating mb-3">
        <input type="email" class="form-control" name="email" id="email" placeholder="name@example.com" required>
        <label for="email">Email address</label>
    </div>
    <div class="form-floating mb-3">
        <input type="password" class="form-control" required name="pass" id="pass" placeholder="password" autocomplete>
        <label for="pass">Password</label>
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
</form>