<h1>
    <%= post.title %>
</h1>
<p>
    <%= post.desc %>
</p>
<p class="text-muted">posted by <%= post.author%> on <%=post.on%>.</p>
<a href="#" onclick="history.go(-1)" class="btn btn-outline-primary">Go back</a>