<h1>
    <%= post.title %>
</h1>
<pre><%= post.desc %></pre>
<p class="text-muted">posted by <%= post.author%> on <%=post.date%>.</p>
<a href="#" onclick="history.go(-1)" class="btn btn-outline-primary">Go back</a>